$break-small: 719px;

body {
  font-family: Inter;
  color: #797283;

  p {
    font-family: Inter;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: PT Serif;
    line-height: 43px;
    color: #1e1c21;
  }

  h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    color: #1e1c21;
    line-height: 54px;
  }

  hr {
    color: $bitlingo-brand;
    border: 2px solid;
    border-radius: 10%;
    margin: 2rem 0;
  }

  a {
    color: $bitlingo-brand;

    &:hover,
    &:active {
      color: white;
    }
  }

  .presentations {
    h2 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 15px;
      color: #1e1c21;
      text-align: center;
    }
  }

  .button {
    width: 210px;
    height: 47px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 47px;
    display: block;
    background: $bitlingo-brand;
    border-radius: 4px;
    text-align: center;
    color: #ffffff;
  }

  .team {
    margin-bottom: 2rem;
    h2 {
      font-size: 36px;
      font-weight: bold;
      color: #1e1c21;
      text-align: center;
    }
    .members {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 3rem 0;

      .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin: 2rem auto;

        .profile-picture {
          border-radius: 50%;
          width: 200px;
          height: 200px;
        }

        .texts {
          display: flex;
          flex-direction: column;
          align-items: center;

          .text {
            margin: 0.3rem 0;
          }

          .name {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin: 0.9rem 0;
          }

          .title {
            font-weight: bold;
          }

          .secondary {
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
    }
  }

  header {
    background-color: #fdfaff;
    display: block;
    padding: 39px 0;

    .logo {
      img {
        width: 151px;
        height: 44px;
      }
    }

    .top-menu {
      display: flex;
      justify-content: space-between;

      .get-started {
        a {
          width: 210px;
          height: 47px;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 47px;
          display: block;
          background: $bitlingo-brand;
          border-radius: 4px;
          text-align: center;
          color: #ffffff;
        }
      }

      @media screen and (max-width: $break-small) {
        .get-started {
          display: none;
        }
      }
    }
  }

  .page-header {
    text-align: center;
    padding: 50px 0 100px 0;
    background-color: #fdfaff;
    border-radius: 0px 0px 40px 40px;

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      color: #1e1c21;
      padding: 0 0 15px 0;
      line-height: 54px;
    }

    h2 {
      font-size: 36px;
      font-style: normal;
      font-weight: bold;
      color: #1e1c21;
      line-height: 54px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 34px;
    }

    img {
      margin-top: 61px;
      max-width: 65%;
    }

    &.home {
      padding-bottom: 30px;
    }

    @media screen and (max-width: $break-small) {
      padding-top: 1px;
      padding-bottom: 50px;

      h1,
      h2 {
        padding-top: 0;
      }

      img {
        max-width: 80%;
      }
    }
  }

  .presentation__item {
    padding: 50px 0;

    .row {
      display: flex;
      flex-wrap: wrap;

      .col-6 {
        align-self: center;
      }
    }

    .presentation__content {
      justify-content: center;
      display: flex;
      flex-direction: column;

      h3 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 12px;
        color: #1e1c21;
        line-height: 2rem;
      }

      p {
        font-size: 18px;
        line-height: 26px;
      }
    }

    .thumbnail {
      img {
        max-width: 100%;
      }
    }
  }

  .button {
    margin: 2rem auto;
  }

  .pricing-container {
    text-align: center;
    margin-bottom: 2rem;

    .pricing-sliders {
      display: flex;
      flex-direction: column;
      max-width: 50%;
      margin: 2rem auto;

      .slider {
        margin: 2rem 0;
      }
      // antd override
      .ant-slider-track {
        background-color: $bitlingo-brand;
      }
      .ant-slider-handle {
        background-color: lighten($bitlingo-brand, 10);
      }
      .ant-tooltip-open {
        border-color: darken($bitlingo-brand, 10);
      }
    }
    .price {
      font-size: 36px;
    }
  }

  .features {
    @media screen and (max-width: $break-small) {
      .col-6.first {
        order: 1;
      }

      .col-6 {
        order: 2;
      }

      .content {
        text-align: center;
        display: block !important;
        margin: 0;
      }

      h2 {
        margin-top: 10px;
      }
    }
  }

  .call-to-action {
    background-color: $bitlingo-brand;
    color: #ffffff;
    padding: 65px 0;
    border-radius: 40px 40px 0px 0px;

    .container {
      display: flex;

      @media screen and (max-width: $break-small) {
        display: block;

        .call-to-action__content {
          text-align: center;
        }
      }
    }

    .button {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (max-width: $break-small) {
        display: block;
        width: 100%;
        margin-top: 30px;
      }

      a {
        font-size: 18px;
        background-color: #ffffff;
        width: 184px;
        margin-left: auto;
        border-radius: 4px;
        height: 54px;
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        flex-direction: column;
        color: $bitlingo-brand;

        @media screen and (max-width: $break-small) {
          margin: 0 auto;
        }
      }
    }

    .call-to-action__content {
      h2 {
        font-size: 36px;
        font-family: Inter;
        font-weight: 600;
        margin: 0 0 32px;
        color: #ffffff;
      }

      p {
        font-size: 18px;
        line-height: 32px;
      }
    }
  }

  .content {
    line-height: 26px;
    margin: 47px 0 23px;

    p {
      margin: 0 0 16px;
    }

    .title {
      margin: 0 0 44px;
    }
  }

  footer {
    padding: 120px 0 45px;

    @media screen and (max-width: $break-small) {
      padding: 50px 0 45px;
    }

    .widget__item {
      @media screen and (max-width: $break-small) {
        padding: 15px 0 0;
      }

      .about {
        margin-top: 26px;
      }

      .about {
        font-size: 14px;
        line-height: 23px;
      }

      .links {
        h4 {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          font-family: Inter;
          line-height: 0;
        }

        ul {
          margin: 15px 0 0 0;

          li {
            line-height: 26px;

            a {
              font-size: 14px;
              color: #797283;

              &:hover,
              &:active {
                color: $bitlingo-brand;
              }
            }
          }
        }
      }

      .social {
        text-align: right;

        @media screen and (max-width: $break-small) {
          text-align: center;
        }

        a {
          margin-left: 20px;

          img {
            filter: contrast(0);
            transition: 0.15s;
          }

          &:hover img {
            filter: contrast(1);
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .copyright {
      text-align: center;
      margin-top: 90px;

      @media screen and (max-width: $break-small) {
        margin-top: 31px;
      }

      p {
        font-size: 13px;
      }
    }
  }
}
